.row.serchbox {
    background: #e2e2e2;
    height: 90px;
    padding: 24px 5px;
    margin-top: 0px;
}
.shdata {
    border-color: #bfb28e;
    width: 100%;
    height: 40px;
}
.row.studentarea {
    background: #243439;
    padding: 15px 10px;
    margin: 25px 10px;
}
.studentdboxdata.col-sm-10 {
    display: flex;
}
.studentdboxdata.col-sm-2 img {
    margin: 0 auto;
    height: 150px;
}
.studentareabox.row {
    color: white;
}
.studentboxdatathree.col-sm-8 h4 {
    margin-top: 42px;
    font-size: 22px;
    color: white;
}
.studentboxdatathree.col-sm-8 h5 {
    font-size: 19px;
    color: white;
}
.studentdboxdataimg.col-sm-2 img {
    margin: 0 auto;
    height: 145px;
}
.studentform {
    margin-top: 10px;
    margin: 0px 10px;
}
.stuform {
    background: #f1f1f1;
    border: none;
    border-color: white;
    border-bottom: 1px solid;
    border-radius: 0px;
    margin-bottom: 20px;
    height: 40px;
}
.update {
    background: #bfb28e  !important;
    border-color: #bfb28e !important;
    font-size: 17px !important;
    padding: 5px 10px !important;
    margin: 22px 10px !important;
    color: white !important;
}
.update:hover {
    background: #243439;
    border-color: #243439;
    color: white;
}
.inputstyle::placeholder {
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}
input#email {
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}
input#name{
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}
input#ph_no{
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}
input#address{
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}
input#region{
    border: none;
    background: #fff;
    border-bottom: 1px solid;
}