.row.procedrow {
    background: #243439;
    color: white;
    margin: 25px 5px;
}
.row.serchbox {
    background: #e2e2e2;
    height: 90px;
    padding: 24px 5px;
    margin-top: 0px;
}
.shdata {
    border-color: #bfb28e;
    width: 100%;
    height: 40px;
}
.row.blogrow {
    background: #243439;
    color: white;
    margin: 25px 5px;
    padding-top: 5px;
}
.blogback {
    background: #bfb28e;
    padding: 25px 50px;
    margin-bottom: 100px;
}
.blogdataimg img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.blogdata p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin-top: 65px;
}
.blogdata h3 {
    color: white;
    font-size: 30px;
    border-bottom: 3px solid;
    margin-bottom: 16px;
    margin-top: -5px;
    text-align: left;
}
.blogdata h5 {
    color: white;
    font-size: 20px;
    line-height: 31px;
    text-align: left;
}
.blogdatas h5 {
    color: white;
    font-size: 20px;
    line-height: 31px;
    text-align: end;
}
.blogdatas h3 {
    color: white;
    font-size: 30px;
    border-bottom: 3px solid;
    margin-bottom: 16px;
    margin-top: -5px;
    text-align: end;
}
.blogdatas p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: end;
    margin-top: 70px;
}