.contentwriterhead h2 {
    text-align: center;
    font-size: 40px;
    color: #bfb28e;
    font-weight: 600;
    margin-top: 25px;
}
.contentwriterarea {
    padding: 10px 0px;
    background: white;
}
.contentwriterbackdata h3 {
    font-size: 30px;
    font-weight: 600;
    color: #bfb28e;
    border-bottom: 2px solid;
    width: 100%;
}
.contentwriterback {
    background: #243439;
    padding: 50px 0px;
}
.contentwriterbackdata ul li:before {
    content: "\f138";
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: 'FontAwesome';
    padding-right: 10px;
    line-height: 35px;
    left: 0;
}
.contentwriterbackdata li {
    color: white;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}
.contentwriterbackdata ul {
    list-style: none;
    padding: 0px;
}
.contentwriterbackdata p {
    font-size: 22px;
    color: white;
    line-height: 35px;
    font-weight: 400;
    margin-top: 20px;
}