.coprateheading h2 {
    text-align: center;
    font-size: 40px;
    color: #bfb28e;
    font-weight: 600;
    margin-top: 25px;
}
.copratearea {
    padding: 10px 0px;
    background: white;
}
.copratebackhead h3 {
    font-size: 30px;
    font-weight: 600;
    color: #bfb28e;
    border-bottom: 2px solid;
    width: 100%;
}
.copratebackdata p {
    font-size: 22px;
    color: white;
    line-height: 35px;
    font-weight: 400;
    margin-top: 10px;
}
.careerjobboxdata ul li:before {
    /* content: "\f138"; */
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    font-family: 'FontAwesome';
    padding-right: 10px;
    line-height: 35px;
    left: 0;
}
.careerjobboxdata li {
    color: #323333;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}
.careerjobboxdata ul {
    list-style: none;
    padding: 0px;
}
.coprateback {
    background: #243439;
    padding: 50px 0px;
}
.careerjobboxhead h4 {
    text-align: center;
    color: #bfb283;
    font-size: 20px;
    font-weight: 700;
}
.careerjobboximg img {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.careerjobbox {
    background: white;
    padding: 10px 25px;
}
ul.jobtop {
    margin-top: 63px;
}
.row.toprow {
    margin-top: 20px;
}
.careerjobbox:hover {
    transform: scale(1.10);
    background: #d4c7a24a;
}
.viewal {
    font-size: 20px;
    padding: 16px 10px;
    width: 250px;
    height: 55px;
    background: #bfb28e;
    border-color: #bfb28e;
}
.copratebackclick {
    margin-top: 40px;
}
.copratebackimg img {
    margin: 0 auto;
}