@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
body,html {
	font-size: 15px;
    line-height: 1.4666666667;
    color: #000;
    font-family: 'Manjari', sans-serif;
}
h1,h2,h3,h4{
	font-family: 'Manjari', sans-serif;
}
a.footerlinks {
    color: white;
}
/* .btn-primary {
    color: #fff;
    background-color: #ca0000;
    border-color: #ca0000;
} */
/* .btn-primary:hover {
    color: #fff;
    background-color: #2d2c32;
    border-color: #2d2c32;
} */
.mTEXT {
    overflow: hidden;
    overflow: hidden;
    white-space: normal;
    margin-bottom: 20px;
    height: 7.4em;
    text-overflow: -o-ellipsis-lastline;
}




























@media only screen and (max-width : 768px) {


}
