.registrationdata h2 {
    text-align: center;
    font-size: 40px;
    color: #bfb28e;
    font-weight: 600;
    margin-top: 25px;
}
.registrationhead {
    padding: 10px 0px;
    background: white;
}
.reform h3 {
    color: #bfb28e;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
}
.reformbox {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: white;
    border-radius: 0px;
    height: 40px;
}

button.btn.btn-primary.applyhere{



    background-color: #bfb28e;
}
.registrationform {
    padding: 40px 0px;
    background: #243439;
}
.registrationformimg img {
    margin: 0 auto;
}

button.btn.btn-primary.hrsclicks {
    background-color: #bfb28e;
}
.applyhere {
    background: #bfb28e;
    color: white;
    border-color: #bfb28e;
    padding: 10px 10px;
    font-size: 20px;
    height: 44px;
    font-weight: 400;
}
.reformclick {
    margin-top: 25px;
}