.resourcebannerdata h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid;
    margin: 0 auto;
    width: fit-content;
    margin-top: 25px;
}
.resourcebannerdata h3 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
span.resspan {
    font-weight: 300;
}
.investingbanner {
    background: #243439;
    padding: 45px 10px;
}
.resourcebanner {
    background-image:url({{asset('images/rbanner.jpg')}}) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 100px 10px;
}
.developmentbanner {
    background: #bfb28e;
    padding: 45px 10px;
}
.developmentbannerimg img {
    margin: 0 auto;
}
.investingbannerdata h4 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}
.developmentbannerdata h4 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
    text-align: right;
}
.investingbannerdata h3 {
    color: #bfb28e;
    font-size: 30px;
    border-bottom: 3px solid;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.developmentbannerdata h3 {
    color: white;
    font-size: 30px;
    border-bottom: 3px solid;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: right;
}
.investingbannerdata p {
    font-size: 25px;
    color: white;
    line-height: 40px;
}
.developmentbannerdata p {
    font-size: 25px;
    color: white;
    line-height: 40px;
    text-align: right;
}
